{{> headers}}
<body>

    {{> navbar}}
    <div class="row">
        <div class="col-8">
            <h1>Nike Air Mag</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta optio soluta inventore magni numquam eveniet molestiae reiciendis beatae. Est tempore magnam a non voluptatem repellendus vel explicabo temporibus officia beatae.
            </p>
        </div>
        <div class="col-4">
            <img src="./assets/img/airmag.jpg" class="img-thumbnail">

        </div>
    </div>

</body>

{{> footer}}